<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../model/css/index.css">
    <link rel="stylesheet" href="../model/js/index.js">
    <script type="module" src="../model/js/interfaceClasses.js"></script>
    <title>Batalla Naval</title>
</head>
<body>
    <div class="showStartPage" id="startPage">
        <button class="showSound" id="mute" onclick="showmute.show_mute()"></button>

    </div>
</body>
</html>