body{
    background-color: brown;
    width: 90%;
    height: 80vh;
    margin: 2rem;
}


/* pagina de inicio del juego */
.showSound{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../assets/sonido.png");
    border-color: #779564;
    border-radius: 10%;
    left: 90vw;
}
.showSound.activo{
    background-image: url("../assets/silencio.png");
}